/* font settings */
$font-family-normal: "Open Sans", "Myriad Pro", Helvetica, Tahoma, "Nimbus Sans", Arial, sans-serif !default;
$font-family-headings: "Raleway", Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif !default;
$font-family-monospace: Consolas, "Andale Mono", "Lucida Console", "Nimbus Mono", "Courier New", monospace !default;
$font-size: 16px !default;
$font-size-mobile: 14px !default;
$font-line-height: 21px !default;

/* colors */
$accent-color: #d64937 !default;
$dark-color: #2d2d2d !default;
$light-color: #f9f9f9 !default;
$link-color: $accent-color !default;
$info-color: #638ce8 !default;
$success-color: #43b43b !default;
$warning-color: #e77f1b !default;
$error-color: #d95879 !default;

/* misc */
$roundness: 2px !default;
$mobile-break-point: "only screen and (max-width: 27em)" !default;
