@font-face {
    font-family: 'Open Sans';
    src: url('../font/opensans/OpenSans-Light-webfont.eot?#iefix2013') format('embedded-opentype'),
         url('../font/opensans/OpenSans-Light-webfont.woff?2013') format('woff'),
         url('../font/opensans/OpenSans-Light-webfont.ttf?2013') format('truetype');
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../font/opensans/OpenSans-Semibold-webfont.eot?#iefix2013') format('embedded-opentype'),
         url('../font/opensans/OpenSans-Semibold-webfont.woff?2013') format('woff'),
         url('../font/opensans/OpenSans-Semibold-webfont.ttf?2013') format('truetype');
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../font/opensans/OpenSans-LightItalic-webfont.eot?#iefix2013') format('embedded-opentype'),
         url('../font/opensans/OpenSans-LightItalic-webfont.woff?2013') format('woff'),
         url('../font/opensans/OpenSans-LightItalic-webfont.ttf?2013') format('truetype');
    font-style: italic;
    font-weight: 300;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../font/opensans/OpenSans-Regular-webfont.eot?#iefix2013') format('embedded-opentype'),
         url('../font/opensans/OpenSans-Regular-webfont.woff?2013') format('woff'),
         url('../font/opensans/OpenSans-Regular-webfont.ttf?2013') format('truetype');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../font/opensans/OpenSans-Bold-webfont.eot?#iefix2013') format('embedded-opentype'),
         url('../font/opensans/OpenSans-Bold-webfont.woff?2013') format('woff'),
         url('../font/opensans/OpenSans-Bold-webfont.ttf?2013') format('truetype');
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../font/opensans/OpenSans-Italic-webfont.eot?#iefix2013') format('embedded-opentype'),
         url('../font/opensans/OpenSans-Italic-webfont.woff?2013') format('woff'),
         url('../font/opensans/OpenSans-Italic-webfont.ttf?2013') format('truetype');
    font-style: italic;
    font-weight: 400;
}
