@page {
    margin: 1cm;
}

body {
    background: #fff;
    color: #333;
    font-family: 'Open Sans', sans-serif;
}

a {
    color: #111;
    text-decoration: none;
    font-weight: 600;
}

a:after {
    content: " ("attr(href)") ";
    color: #d64937;
}

a[href^="#"] { display: none; }

h1 {
    font-weight: 300;
    font-size: xx-large;
}

h2 {
    font-weight: 300;
    font-size: x-large;
}

h3 {
    font-weight: 400;
    font-size: large;
}

code {
    font-weight: 600;
    font-size: 110%;
    font-family: monospace;
    line-height: 120%;
}

nav, iframe { display: none; }

footer {
    padding: 10px 0;
    border-top: 1px solid #ccc;
}

#home { text-shadow: none; }

.thumbgrid:after {
    content: "";
    display: block;
    clear: both;
}

.thumb {
    float: left;
    padding: 0 25px 10px 0;
    max-width: 200px;
}

.desc { padding: 3px 0; }

.palette {
    display: table;
    width: 100%;
    border: 1px solid #ccc;
}

.palette div {
    display: table-cell;
    padding: 10px;
    width: auto;
    text-align: center;
}

.profile { padding: 3px 0; }

.profile img { float: none; }

.subtitle { color: #555; }
