html { height: 100%; }

body {
    margin: 0;
    padding: 0;
    height: 100%;
    background: #fff;
    color: #333;
    font-size: 100%;
    font-family: 'Open Sans', sans-serif;
}

a {
    outline: 0;
    color: #d64937;
    text-decoration: none;
    font-weight: 600;
    -webkit-transition: .3s ease;
    -moz-transition: .3s ease;
    -o-transition: .3s ease;
    transition: .3s ease;
}

a:focus, a:hover { border-bottom: 1px dashed #d64937; }

a.button {
    position: relative;
    display: inline-block;
    padding: 15px;
    width: auto;
    border: none;
    border-radius: 2px;
    background: #d64937;
    -webkit-box-shadow: 0 0 3px rgba(0,0,0,0.3);
    -moz-box-shadow: 0 0 3px rgba(0,0,0,0.3);
    -o-box-shadow: 0 0 3px rgba(0,0,0,0.3);
    box-shadow: 0 0 3px rgba(0,0,0,0.3);
    color: #f9f9f9;
    font-weight: 600;
}

a.button:hover, a.button:focus {
    -webkit-box-shadow: 0 0 3px rgba(0,0,0,0.6);
    -moz-box-shadow: 0 0 3px rgba(0,0,0,0.6);
    -o-box-shadow: 0 0 3px rgba(0,0,0,0.6);
    box-shadow: 0 0 3px rgba(0,0,0,0.6);
    color: #f9f9f9;
    text-decoration: none;
}

a.button:active {
    -webkit-box-shadow: 0 0 3px rgba(0,0,0,0.6), inset 0 0 3px rgba(0,0,0,0.3);
    -moz-box-shadow: 0 0 3px rgba(0,0,0,0.6), inset 0 0 3px rgba(0,0,0,0.3);
    -o-box-shadow: 0 0 3px rgba(0,0,0,0.6), inset 0 0 3px rgba(0,0,0,0.3);
    box-shadow: 0 0 3px rgba(0,0,0,0.6), inset 0 0 3px rgba(0,0,0,0.3);
}

h1 {
    font-weight: 300;
    font-size: xx-large;
}

h2 {
    font-weight: 300;
    font-size: x-large;
}

h3 {
    font-weight: 400;
    font-size: large;
}

code {
    font-weight: 600;
    font-size: 110%;
    font-family: monospace;
    line-height: 120%;
}

nav {
    position: fixed;
    z-index: 2;
    width: 100%;
    background: #2d2d2d;
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.3);
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.3);
    -o-box-shadow: 0 1px 3px rgba(0,0,0,0.3);
    box-shadow: 0 1px 3px rgba(0,0,0,0.3);
    color: #dcdcdc;
    text-align: right;
}

nav ul {
    margin: 0;
    padding: 0 20%;
    list-style-type: none;
}

nav ul > li { display: inline; }

nav a {
    float: right;
    padding: 1%;
    color: #dcdcdc;
    text-decoration: none;
    -webkit-transition: .3s ease;
    -moz-transition: .3s ease;
    -o-transition: .3s ease;
    transition: .3s ease;
}

nav a.title {
    float: left;
    color: #dcdcdc;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-weight: 400;
}

nav a:focus, nav a:hover, nav a.title:focus, nav a.title:hover {
    border: none;
    background-color: #333;
    color: #fff;
    text-decoration: none;
}

section {
    margin: 0;
    padding: 5% 20%;
    -webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,0.3);
    -moz-box-shadow: inset 0 1px 3px rgba(0,0,0,0.3);
    -o-box-shadow: inset 0 1px 3px rgba(0,0,0,0.3);
    box-shadow: inset 0 1px 3px rgba(0,0,0,0.3);
}

footer {
    padding: 1% 20%;
    border-top: 1px solid #222;
    background: #2d2d2d;
    color: #dedede;
    font-size: 85%;
}

footer a {
    color: #dedede;
    text-decoration: none;
    font-weight: 400;
}

footer a:focus, footer a:hover {
    border-bottom: 1px dotted #dcdcdc;
    text-decoration: none;
}

#home {
    display: table;
    min-height: 100%;
    background: #2d2d2d url(../img/bg.jpg) no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: #fff;
    text-shadow: 0 1px 1px rgba(0,0,0,0.6);
}

#home .content {
   display: table-cell;
   vertical-align: middle;
}

#projects {
    background: #f9f9f9;
    color: #333;
}

#branding {
    background: #dedede;
    color: #2d2d2d;
}

#about {
    background-color: #2d2d2d;
    background-image: linear-gradient(-45deg, #333 25%, transparent 25%, transparent 50%, #333 50%, #333 75%, transparent 75%, transparent);
    -webkit-background-size: 5px 5px;
    -moz-background-size: 5px 5px;
    -o-background-size: 5px 5px;
    background-size: 5px 5px;
    color: #f9f9f9;
}

.red { color: #d64937; }

.content { padding: 1%; }

.thumbgrid { overflow: hidden; }

.thumb {
    float: left;
    margin: 0 7% 5% 0;
    max-width: 200px;
}

.thumb a { border: none; }

.thumb img {
    border: 3px solid #fff;
    border-radius: 2px;
    -webkit-box-shadow: 0 0 3px rgba(0,0,0,0.3);
    -moz-box-shadow: 0 0 3px rgba(0,0,0,0.3);
    -o-box-shadow: 0 0 3px rgba(0,0,0,0.3);
    box-shadow: 0 0 3px rgba(0,0,0,0.3);
    -webkit-transition: .3s ease;
    -moz-transition: .3s ease;
    -o-transition: .3s ease;
    transition: .3s ease;
}

.thumb img:hover {
    -webkit-box-shadow: 0 0 3px rgba(0,0,0,0.6);
    -moz-box-shadow: 0 0 3px rgba(0,0,0,0.6);
    -o-box-shadow: 0 0 3px rgba(0,0,0,0.6);
    box-shadow: 0 0 3px rgba(0,0,0,0.6);
}

.desc {
    padding: 1% 0;
    text-align: center;
}

.palette {
    display: table;
    width: 100%;
    border: 3px solid #fff;
    border-radius: 2px;
    -webkit-box-shadow: 0 0 3px rgba(0,0,0,0.3);
    -moz-box-shadow: 0 0 3px rgba(0,0,0,0.3);
    -o-box-shadow: 0 0 3px rgba(0,0,0,0.3);
    box-shadow: 0 0 3px rgba(0,0,0,0.3);
}

.palette div {
    display: table-cell;
    padding: 3%;
    width: auto;
    text-align: center;
}

.palette div:nth-of-type(1) {
    background: #f9f9f9;
    color: #333;
}

.palette div:nth-of-type(2) {
    background: #dedede;
    color: #555;
}

.palette div:nth-of-type(3) {
    background: #d64937;
    color: #f9f9f9;
}

.palette div:nth-of-type(4) {
    background: #333;
    color: #f9f9f9;
}

.palette div:nth-of-type(5) {
    background: #2d2d2d;
    color: #dcdcdc;
}

.profile {
    overflow: hidden;
}

.profile img {
    display: inline;
    float: left;
    margin: 5% 5% 0 0;
    border: 3px solid #fff;
    border-radius: 2px;
    -webkit-box-shadow: 0 0 3px rgba(0,0,0,0.3);
    -moz-box-shadow: 0 0 3px rgba(0,0,0,0.3);
    -o-box-shadow: 0 0 3px rgba(0,0,0,0.3);
    box-shadow: 0 0 3px rgba(0,0,0,0.3);
    -webkit-transition: .3s ease;
    -moz-transition: .3s ease;
    -o-transition: .3s ease;
    transition: .3s ease;
}

.profile img:hover {
    -webkit-box-shadow: 0 0 3px rgba(0,0,0,0.6);
    -moz-box-shadow: 0 0 3px rgba(0,0,0,0.6);
    -o-box-shadow: 0 0 3px rgba(0,0,0,0.6);
    box-shadow: 0 0 3px rgba(0,0,0,0.6);
}

.subtitle { color: #dcdcdc; }

.bio { margin: 5% 0; }

::selection, ::-moz-selection {
    background: #d64937;
    color: #f9f9f9;
}

::-webkit-scrollbar {
    overflow: visible;
    width: 12px;
    height: 12px;
}

::-webkit-scrollbar-button { display: none; }

::-webkit-scrollbar-track { background: #f9f9f9; }

::-webkit-scrollbar-thumb {
    border: 1px solid #b2b2b2;
    background: #c8c8c8;
}

::-webkit-scrollbar-thumb:vertical { min-height: 100px; }

::-webkit-scrollbar-thumb:horizontal { min-width: 100px; }

::-webkit-scrollbar-thumb:hover {
    border: 1px solid #9c9c9c;
    background: #b2b2b2;
}

::-webkit-scrollbar-thumb:active {
    border: 1px solid #c14131;
    background: #d64937;
}

@media screen and (max-width: 640px) {
    body { font-size: 85%; }
    nav ul { padding: 0 5px; }
    nav a { padding: 10px; }
    section { padding: 5px; }
    footer { padding: 5px; }
    .content { padding: 10px; }
    .thumb { margin: 0 10px 10px 0; }
    .palette { display: block; }
    .palette div {
        display: block;
        padding: 10px;
    }
    .profile img { float: none; }
}
