@-webkit-keyframes fadeIn { 0% { opacity: 0; } 100% { opacity: 1; } }

@-moz-keyframes fadeIn { 0% { opacity: 0; } 100% { opacity: 1; } }

@keyframes fadeIn { 0% { opacity: 0; } 100% { opacity: 1; } }

html { height: 100%; }

body {
    margin: 0;
    padding: 0;
    height: 100%;
    background: #fff;
    color: #333;
    font-size: 100%;
    font-family: 'Open Sans', sans-serif;
}

a {
    outline: 0;
    border-bottom: 1px solid rgba(214,73,55,0.3);
    color: #d64937;
    text-decoration: none;
    font-weight: 600;
    -webkit-transition: .3s ease;
    -moz-transition: .3s ease;
    transition: .3s ease;
}

a:focus, a:hover { border-bottom: 1px solid #d64937; }

a.button {
    position: relative;
    display: inline-block;
    margin: 10px 0;
    padding: 15px;
    width: auto;
    border: none;
    border-radius: 2px;
    background: #d64937;
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.3);
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.3);
    box-shadow: 0 1px 3px rgba(0,0,0,0.3);
    color: #f9f9f9;
    font-weight: 600;
}

a.button:hover, a.button:focus {
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.6);
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.6);
    box-shadow: 0 1px 3px rgba(0,0,0,0.6);
    color: #f9f9f9;
    text-decoration: none;
}

a.button:active {
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.6), inset 0 1px 3px rgba(0,0,0,0.3);
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.6), inset 0 1px 3px rgba(0,0,0,0.3);
    box-shadow: 0 1px 3px rgba(0,0,0,0.6), inset 0 1px 3px rgba(0,0,0,0.3);
}

a.img, a.img:focus, a.img:hover { border: none; }

h1 {
    font-weight: 300;
    font-size: xx-large;
}

h2 {
    font-weight: 300;
    font-size: x-large;
}

h3 {
    font-weight: 400;
    font-size: large;
}

code {
    font-weight: 600;
    font-size: 110%;
    font-family: monospace;
    line-height: 120%;
}

nav {
    position: fixed;
    z-index: 2;
    width: 100%;
    background: #2d2d2d;
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.6);
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.6);
    box-shadow: 0 1px 3px rgba(0,0,0,0.6);
    color: #dcdcdc;
}

nav ul {
    margin: 0;
    padding: 0 20%;
    list-style-type: none;
    line-height: 120%;
}

nav ul > li { display: inline; }

nav a {
    float: right;
    padding: 1%;
    border-style: none;
    color: #dcdcdc;
    text-decoration: none;
    -webkit-transition: .3s ease;
    -moz-transition: .3s ease;
    transition: .3s ease;
}

nv a:focus, nav a:hover { 
    border-style: none;
    color: #f9f9f9;
}


a.title {
    float: left;
    text-transform: lowercase;
    letter-spacing: 5px;
    font-weight: 400;
    font-family: "Numix Logotype";
}

section {
    margin: 0;
    padding: 0 20%;
    -webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,0.3);
    -moz-box-shadow: inset 0 1px 3px rgba(0,0,0,0.3);
    box-shadow: inset 0 1px 3px rgba(0,0,0,0.3);
}

footer {
    padding: 0 20%;
    border-top: 1px solid #222;
    background-color: #333;
    color: #dedede;
    font-size: 85%;
}

footer a {
    border-bottom: 1px solid rgba(220,220,220,0.3);
    color: #dedede;
    text-decoration: none;
    font-weight: 400;
}

footer a:focus, footer a:hover {
    border-bottom: 1px solid #dcdcdc;
    text-decoration: none;
}

#social {
    display: block;
    width: 200px;
    height: 30px;
    position: fixed;
    bottom: 0;
    right: 0;
}

#home {
    display: table;
    height: 100%;
    background: #2d2d2d url(../img/bg.jpg) no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    color: #fff;
    text-shadow: 0 1px 1px rgba(0,0,0,0.6);
}

#home .content {
	position: relative;
    display: table-cell;
	width: 100%;
	height: 100%;
    vertical-align: middle;
}

#home .featured { overflow: hidden; }

#home input {
    position: absolute;
    bottom: 5%;
	left: 50%;
	z-index: 1001;
	width: 10px;
	height: 10px;
    opacity: 0;
	cursor: pointer;
}

#home input + label {
    position: absolute;
    bottom: 5%;
	left: 50%;
	z-index: 1000;
	display: block;
    width: 10px;
	height: 10px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
	background-color: #ccc;
    background-color: rgba(255,255,255,0.5);
    -webkit-transition: background-color linear 0.1s;
    -moz-transition: background-color linear 0.1s;
    transition: background-color linear 0.1s;
}
#home input:checked + label {
	background-color: #fff;
    background-color: rgba(255,255,255,0.9);
}

#home .selector-1, .button-label-1 { margin-left: -50px; }

#home .selector-2, .button-label-2 { margin-left: -25px; }

#home .arrow {
    position: absolute;
	top: 50%;
	z-index: 1000;
	display: none;
	margin-top: -1%;
	width: 28px;
	height: 38px;
	background: transparent url(../img/arrows.png) no-repeat;
	opacity: 0.7;
	cursor: pointer;
	-webkit-transition: opacity linear 0.3s;
    -moz-transition: opacity linear 0.3s;
    transition: opacity linear 0.3s;
}

#home .arrow:hover { opacity: 1; }

#home .selector-1:checked ~ .arrow.a2,
#home .selector-2:checked ~ .arrow.a3 {
    right: 5%;
	display: block;
	background-position: top right;
}

#home .selector-2:checked ~ .arrow.a1,
#home .selector-3:checked ~ .arrow.a2 {
    left: 5%;
	display: block;
	background-position: top left;
}

#home input:checked ~ .content {
    -webkit-transition: background-position linear 0.3s, background-color linear 0.5s;
    -moz-transition: background-position linear 0.3s, background-color linear 0.5s;
    transition: background-position linear 0.3s, background-color linear 0.5s;
}

#home input.selector-1:checked ~ .content { background-position: 0 0; }

#home input.selector-2:checked ~ .content { background-position: -100px 0; }

#home input.selector-3:checked ~ .content { background-position: -200px 0; }

#home .slider {
    position: relative;
	left: 0;
    margin: 0;
	padding: 0;
    width: 500%;
	height: 100%;
	list-style: none;
    -webkit-transition: left ease-in 0.5s;
    -moz-transition: left ease-in 0.5s;
    transition: left ease-in 0.5s;
}

#home .slider > li {
    float: left;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 20%;
	height: 100%;
	opacity: 0.4;
    -webkit-transition: opacity ease-in 0.3s 0.5s;
    -moz-transition: opacity ease-in 0.3s 0.5s;
    transition: opacity ease-in 0.3s 0.5s;
}

#home input.selector-1:checked ~ .content .slider { left: 0; }

#home input.selector-2:checked ~ .content .slider { left: -100%; }

#home input.selector-3:checked ~ .content .slider { left: -200%; }

#home input.selector-1:checked ~ .content .slider > li:first-child,
#home input.selector-2:checked ~ .content .slider > li:nth-child(2),
#home input.selector-3:checked ~ .content .slider > li:nth-child(3) {
	opacity: 1;
}

#projects {
    background: #f9f9f9;
    color: #333;
}

#design {
    background: #333 url(../img/bg2.jpg) no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    color: #f9f9f9;
}

#about {
    background-color: #2d2d2d;
    background-image: linear-gradient(-45deg, #222 25%, transparent 25%, transparent 50%, #222 50%, #222 75%, transparent 75%, transparent);
    -webkit-background-size: 5px 5px;
    -moz-background-size: 5px 5px;
    background-size: 5px 5px;
    color: #f9f9f9;
}

.red { color: #d64937; }

.content { padding: 5% 1%; }

.thumb {
    display: inline-block;
    margin: 0 7% 5% 0;
    padding: 0;
    max-width: 206px;
    vertical-align: top;
}

.thumb img {
    width: 200px;
    height: 200px;
    border: 3px solid #fff;
    border-radius: 2px;
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.3);
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.3);
    box-shadow: 0 1px 3px rgba(0,0,0,0.3);
    -webkit-filter: brightness(1.0);
    filter: brightness(1.0);
    -webkit-transition: .3s ease;
    -moz-transition: .3s ease;
    transition: .3s ease;
    -moz-filter: brightness(1.0);
}

.thumb img:hover {
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.6);
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.6);
    box-shadow: 0 1px 3px rgba(0,0,0,0.6);
    -webkit-filter: brightness(0.9);
    filter: brightness(0.9);
    -moz-filter: brightness(0.9);
}

.desc {
    max-width: 206px;
    text-align: center;
}

.desc .name {
    padding: 1% 0;
}

.desc .tag {
    padding: 1% 0;
    color: #555;
    font-size: 85%;
}

.palette {
    display: table;
    width: 100%;
    border: 3px solid rgba(255,255,255,0.5);
    border-radius: 2px;
    -webkit-box-shadow: 0 0 3px rgba(0,0,0,0.3);
    -moz-box-shadow: 0 0 3px rgba(0,0,0,0.3);
    box-shadow: 0 0 3px rgba(0,0,0,0.3);
}

.palette div {
    display: table-cell;
    padding: 3%;
    width: auto;
    text-align: center;
}

.palette div:nth-of-type(1) {
    background: #f9f9f9;
    color: #333;
}

.palette div:nth-of-type(2) {
    background: #dedede;
    color: #555;
}

.palette div:nth-of-type(3) {
    background: #d64937;
    color: #f9f9f9;
}

.palette div:nth-of-type(4) {
    background: #333;
    color: #f9f9f9;
}

.palette div:nth-of-type(5) {
    background: #2d2d2d;
    color: #dcdcdc;
}

.profile { padding: 3% 0; }

.profile:after {
    display: block;
    clear: both;
    content: "";
}

.profile img {
    display: inline;
    float: left;
    margin: 3% 3% 0 0;
    border: 3px solid #333;
    border-radius: 2px;
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.3);
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.3);
    box-shadow: 0 1px 3px rgba(0,0,0,0.3);
    -webkit-filter: grayscale(0.3);
    filter: grayscale(0.3);
    -webkit-transition: .3s ease;
    -moz-transition: .3s ease;
    transition: .3s ease;
    -moz-filter: grayscale(0.3);
}

.profile img:hover {
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.6);
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.6);
    box-shadow: 0 1px 3px rgba(0,0,0,0.6);
    -webkit-filter: grayscale(0.0);
    filter: grayscale(0.0);
    -moz-filter: grayscale(0.0);
}

.bio { padding: 0; }

.subtitle { color: #dcdcdc; }

.animate {
    -webkit-animation: fadeIn ease-in 1.5s;
    -moz-animation: fadeIn ease-in 1.5s;
    animation: fadeIn ease-in 1.5s;
}

::selection, ::-moz-selection {
    background: #d64937;
    color: #f9f9f9;
}

::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

::-webkit-scrollbar-button { display: none; }

::-webkit-scrollbar-track { background: #f9f9f9; }

::-webkit-scrollbar-thumb {
    border: 1px solid #b2b2b2;
    background: #c8c8c8;
}

::-webkit-scrollbar-thumb:vertical { min-height: 100px; }

::-webkit-scrollbar-thumb:horizontal { min-width: 100px; }

::-webkit-scrollbar-thumb:hover {
    border: 1px solid #9c9c9c;
    background: #b2b2b2;
}

::-webkit-scrollbar-thumb:active {
    border: 1px solid #c14131;
    background: #d64937;
}

@media screen and (max-width: 640px) {
    body { font-size: 85%; }
    a.button { padding: 10px; }
    nav ul { padding: 0 5px; }
    nav a { padding: 10px; }
    section { padding: 0 5px; }
    footer { padding: 10px 5px; }
    .content { padding: 10px; }
    .thumb { margin: 0 10px 10px 0; }
    .palette div { display: block; }
    .profile img { float: none; }
}
