@-webkit-keyframes fadeIn { 0% { opacity: 0; } 100% { opacity: 1; } }

@-moz-keyframes fadeIn { 0% { opacity: 0; } 100% { opacity: 1; } }

@keyframes fadeIn { 0% { opacity: 0; } 100% { opacity: 1; } }

html { height: 100%; }

body {
    margin: 0;
    padding: 0;
    height: 100%;
    background: #fff;
    color: #333;
    font-size: 100%;
    font-family: 'Open Sans', sans-serif;
}

a {
    outline: 0;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    color: #333;
    text-decoration: none;
    -webkit-transition: .3s ease;
    -moz-transition: .3s ease;
    transition: .3s ease;
}

a:focus, a:hover { border-bottom: 1px solid #333; }

a.button {
    position: relative;
    display: inline-block;
    margin: 1% 0;
    padding: 2%;
    width: auto;
    border: none;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background: #d64937;
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.3);
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.3);
    box-shadow: 0 1px 3px rgba(0,0,0,0.3);
    color: #f9f9f9;
    text-shadow: 0 1px 1px rgba(0,0,0,0.6);
    font-weight: 600;
    cursor:pointer;
}

a.button:hover, a.button:focus {
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.6);
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.6);
    box-shadow: 0 1px 3px rgba(0,0,0,0.6);
    color: #f9f9f9;
    text-decoration: none;
}

a.button:active {
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.6), inset 0 1px 3px rgba(0,0,0,0.3);
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.6), inset 0 1px 3px rgba(0,0,0,0.3);
    box-shadow: 0 1px 3px rgba(0,0,0,0.6), inset 0 1px 3px rgba(0,0,0,0.3);
}

a.img, a.img:focus, a.img:hover { border: none; }

input[type=submit] {
    padding: 2%;
    outline: none;
    border: 1px solid #ccc;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background: #dedede;
    color: #555;
    font-weight: 600;
    font-size: 100%;
    cursor: pointer;
    -webkit-transition: .3s ease;
    -moz-transition: .3s ease;
    transition: .3s ease;
}

input[type=submit]:hover, input[type=submit]:focus, input[type=submit]:active {
    border: 1px solid #aaa;
}

input[type=entry] {
    padding: 2%;
    outline: none;
    border: 1px solid #ccc;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background: #f9f9f9;
    -webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,0.1);
    -moz-box-shadow: inset 0 1px 3px rgba(0,0,0,0.1);
    box-shadow: inset 0 1px 3px rgba(0,0,0,0.1);
    color: #333;
    font-weight: 600;
    font-size: 100%;
    -webkit-transition: .3s ease;
    -moz-transition: .3s ease;
    transition: .3s ease;
}

input[type=entry]:hover, input[type=entry]:focus, input[type=entry]:active {
    border: 1px solid #aaa;
}

h1 {
    font-weight: 300;
    font-size: xx-large;
}

h2 {
    font-weight: 300;
    font-size: x-large;
}

h3 {
    font-weight: 400;
    font-size: large;
}

code {
    font-weight: 600;
    font-size: 110%;
    font-family: monospace;
    line-height: 120%;
}

nav {
    position: fixed;
    z-index: 9;
    width: 100%;
    background: #2d2d2d;
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.3);
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.3);
    box-shadow: 0 1px 3px rgba(0,0,0,0.3);
    color: #dcdcdc;
    font-size: 120%;
}

nav ul {
    margin: 0;
    padding: 0 20%;
    list-style-type: none;
    line-height: 120%;
}

nav ul > li { display: inline; }

nav a {
    float: right;
    padding: 2%;
    border-style: none;
    color: #dcdcdc;
    text-decoration: none;
    -webkit-transition: .3s ease;
    -moz-transition: .3s ease;
    transition: .3s ease;
}

nav a:focus, nav a:hover { 
    border-style: none;
    color: #f9f9f9;
}

a.title {
    float: left;
    text-transform: lowercase;
    letter-spacing: 5px;
    font-weight: 400;
    font-family: "Numix Logotype";
}

section {
    margin: 0;
    padding: 0 20%;
    -webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,0.3);
    -moz-box-shadow: inset 0 1px 3px rgba(0,0,0,0.3);
    box-shadow: inset 0 1px 3px rgba(0,0,0,0.3);
}

footer {
    padding: 0 20%;
    border-top: 1px solid #222;
    background-color: #2d2d2d;
    color: #dedede;
    font-size: 85%;
}

footer a {
    border-bottom: 1px solid rgba(220,220,220,0.1);
    color: #dedede;
    text-decoration: none;
}

footer a:focus, footer a:hover {
    border-bottom: 1px solid #dcdcdc;
    text-decoration: none;
}

#home {
    position: relative;
    display: table;
    overflow: hidden;
    height: 100%;
    background-color: #32aad8;
    background-image: url(../img/bg.png);
    background-image: url(../img/bg.svg), none;
    background-attachment: scroll;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    text-shadow: 0 1px 1px rgba(0,0,0,0.6);
}

#home .content {
    position: relative;
    display: table-cell;
    width: 100%;
    height: 100%;
    vertical-align: middle;
}

#projects {
    background: #f9f9f9;
    color: #333;
}

#design {
    background: #9cc;
    color: #2d3c3c;
}

#about {
    background-color: #ffcc66;
    -webkit-background-size: 5px 5px;
    -moz-background-size: 5px 5px;
    background-size: 5px 5px;
    color: #4c3c1e;
}

#social {
    position: fixed;
    top: 30%;
    left: 0;
    z-index: 9;
    margin: 0;
    padding: 1%;
    -webkit-border-radius: 0 2px 2px 0;
    -moz-border-radius: 0 2px 2px 0;
    border-radius: 0 2px 2px 0;
    background-color: #f9f9f9;
    -webkit-box-shadow: 0 0 3px rgba(0,0,0,0.3);
    -moz-box-shadow: 0 0 3px rgba(0,0,0,0.3);
    box-shadow: 0 0 3px rgba(0,0,0,0.3);
    font-size: 120%;
}

#social ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    line-height: 200%;
}

#social a {
    border-style: none;
    color: #888;
    -webkit-transition: .3s ease;
    -moz-transition: .3s ease;
    transition: .3s ease;
}

#social a:focus, #social a:hover { 
    border-style: none;
    color: #d64937;
}

.currency {
    padding: 1%;
    padding-left: 0;
    color: #888;
}

.red { color: #d64937; }

.content { padding: 5% 1%; }

.thumb {
    display: inline-block;
    margin: 0 5% 5% 0;
    padding: 0;
    max-width: 206px;
    vertical-align: top;
}

.thumb .img {
    position:relative;
    display: block;
    width: 200px;
    height: 200px;
    border: 3px solid #fff;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.3);
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.3);
    box-shadow: 0 1px 3px rgba(0,0,0,0.3);
    -webkit-transition: .3s ease;
    -moz-transition: .3s ease;
    transition: .3s ease;
}

.thumb:hover .img {
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.6);
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.6);
    box-shadow: 0 1px 3px rgba(0,0,0,0.6);
}

.thumb .overlay {
    background-image: url(../img/hover.png);
    background-image: url(../img/hover.svg), none;
    border: none;
    left: 0;
    bottom: 0;
    opacity: 0;
    -webkit-filter: opacity(0);
    filter: opacity(0);
    position:absolute;
    height: 100%;
    width: 100%;
    z-index: 2;
    -webkit-transition: .3s ease;
    -moz-transition: .3s ease;
    transition: .3s ease;
}

.thumb:hover .overlay {
    opacity: 1;
    -webkit-filter: opacity(1);
    filter: opacity(1);
}

.desc {
    max-width: 206px;
    text-align: center;
}

.desc .name {
    padding: 1% 0;
}

.desc .more {
    padding: 1% 0;
    color: #555;
    font-size: 85%;
}

.palette {
    display: table;
    width: 100%;
    border: 3px solid rgba(255,255,255,0.5);
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: 0 0 3px rgba(0,0,0,0.3);
    -moz-box-shadow: 0 0 3px rgba(0,0,0,0.3);
    box-shadow: 0 0 3px rgba(0,0,0,0.3);
}

.palette div {
    display: table-cell;
    padding: 3%;
    width: auto;
    text-align: center;
}

.palette div:nth-of-type(1) {
    background: #f9f9f9;
    color: #333;
}

.palette div:nth-of-type(2) {
    background: #dedede;
    color: #555;
}

.palette div:nth-of-type(3) {
    background: #d64937;
    color: #f9f9f9;
}

.palette div:nth-of-type(4) {
    background: #333;
    color: #f9f9f9;
}

.palette div:nth-of-type(5) {
    background: #2d2d2d;
    color: #dcdcdc;
}

.profile { padding: 3% 0; }

.profile:after {
    display: block;
    clear: both;
    content: "";
}

.profile img {
    display: inline;
    float: left;
    margin: 3% 3% 0 0;
    border: 3px solid rgba(255,255,255,0.5);
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.3);
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.3);
    box-shadow: 0 1px 3px rgba(0,0,0,0.3);
    -webkit-filter: grayscale(0.3);
    filter: grayscale(0.3);
    -webkit-transition: .3s ease;
    -moz-transition: .3s ease;
    transition: .3s ease;
    -moz-filter: grayscale(0.3);
}

.profile img:hover {
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.6);
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.6);
    box-shadow: 0 1px 3px rgba(0,0,0,0.6);
    -webkit-filter: none;
    filter: none;
    -moz-filter: none;
}

.bio { padding: 0; }

.animate {
    -webkit-animation: fadeIn ease-in 1.5s;
    -moz-animation: fadeIn ease-in 1.5s;
    animation: fadeIn ease-in 1.5s;
}

.objects span {
    position: absolute;
    right: -220px;
}

.objects img {
    display: block;
    width: 200px;
    height: auto;
}

::selection, ::-moz-selection {
    background: #d64937;
    color: #f9f9f9;
}

::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

::-webkit-scrollbar-button { display: none; }

::-webkit-scrollbar-track { background: #f9f9f9; }

::-webkit-scrollbar-thumb {
    border: 1px solid #b2b2b2;
    background: #c8c8c8;
}

::-webkit-scrollbar-thumb:vertical { min-height: 100px; }

::-webkit-scrollbar-thumb:horizontal { min-width: 100px; }

::-webkit-scrollbar-thumb:hover {
    border: 1px solid #9c9c9c;
    background: #b2b2b2;
}

::-webkit-scrollbar-thumb:active {
    border: 1px solid #c14131;
    background: #d64937;
}

@media screen and (max-width: 640px) {
    body { font-size: 85%; }
    nav { font-size: 100%; }
    nav ul { padding: 0 5px; }
    nav a { padding: 10px; }
    section { padding: 0 5px; }
    footer { padding: 10px 5px; }
    #social { display: none; }
    .content { padding: 10px; }
    .thumb { margin: 0 10px 10px 0; }
    .palette div { display: block; }
    .profile img { float: none; }
}
