/* font settings */
/* colors */
/* misc */
@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }
@-moz-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }
@-ms-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }
@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }
@-webkit-keyframes slidedown {
  0% {
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
    filter: alpha(opacity=0);
    -webkit-opacity: 0;
    -moz-opacity: 0;
    opacity: 0;
    -webkit-transform: translate3d(0, -10%, 0);
    -moz-transform: translate3d(0, -10%, 0);
    -ms-transform: translate3d(0, -10%, 0);
    -o-transform: translate3d(0, -10%, 0);
    transform: translate3d(0, -10%, 0); }

  100% {
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
    filter: alpha(opacity=100);
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }
@-moz-keyframes slidedown {
  0% {
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
    filter: alpha(opacity=0);
    -webkit-opacity: 0;
    -moz-opacity: 0;
    opacity: 0;
    -webkit-transform: translate3d(0, -10%, 0);
    -moz-transform: translate3d(0, -10%, 0);
    -ms-transform: translate3d(0, -10%, 0);
    -o-transform: translate3d(0, -10%, 0);
    transform: translate3d(0, -10%, 0); }

  100% {
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
    filter: alpha(opacity=100);
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }
@-ms-keyframes slidedown {
  0% {
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
    filter: alpha(opacity=0);
    -webkit-opacity: 0;
    -moz-opacity: 0;
    opacity: 0;
    -webkit-transform: translate3d(0, -10%, 0);
    -moz-transform: translate3d(0, -10%, 0);
    -ms-transform: translate3d(0, -10%, 0);
    -o-transform: translate3d(0, -10%, 0);
    transform: translate3d(0, -10%, 0); }

  100% {
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
    filter: alpha(opacity=100);
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }
@keyframes slidedown {
  0% {
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
    filter: alpha(opacity=0);
    -webkit-opacity: 0;
    -moz-opacity: 0;
    opacity: 0;
    -webkit-transform: translate3d(0, -10%, 0);
    -moz-transform: translate3d(0, -10%, 0);
    -ms-transform: translate3d(0, -10%, 0);
    -o-transform: translate3d(0, -10%, 0);
    transform: translate3d(0, -10%, 0); }

  100% {
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
    filter: alpha(opacity=100);
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }
@-webkit-keyframes slideup {
  0% {
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
    filter: alpha(opacity=0);
    -webkit-opacity: 0;
    -moz-opacity: 0;
    opacity: 0;
    -webkit-transform: translate3d(0, 10%, 0);
    -moz-transform: translate3d(0, 10%, 0);
    -ms-transform: translate3d(0, 10%, 0);
    -o-transform: translate3d(0, 10%, 0);
    transform: translate3d(0, 10%, 0); }

  100% {
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
    filter: alpha(opacity=100);
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }
@-moz-keyframes slideup {
  0% {
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
    filter: alpha(opacity=0);
    -webkit-opacity: 0;
    -moz-opacity: 0;
    opacity: 0;
    -webkit-transform: translate3d(0, 10%, 0);
    -moz-transform: translate3d(0, 10%, 0);
    -ms-transform: translate3d(0, 10%, 0);
    -o-transform: translate3d(0, 10%, 0);
    transform: translate3d(0, 10%, 0); }

  100% {
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
    filter: alpha(opacity=100);
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }
@-ms-keyframes slideup {
  0% {
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
    filter: alpha(opacity=0);
    -webkit-opacity: 0;
    -moz-opacity: 0;
    opacity: 0;
    -webkit-transform: translate3d(0, 10%, 0);
    -moz-transform: translate3d(0, 10%, 0);
    -ms-transform: translate3d(0, 10%, 0);
    -o-transform: translate3d(0, 10%, 0);
    transform: translate3d(0, 10%, 0); }

  100% {
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
    filter: alpha(opacity=100);
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }
@keyframes slideup {
  0% {
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
    filter: alpha(opacity=0);
    -webkit-opacity: 0;
    -moz-opacity: 0;
    opacity: 0;
    -webkit-transform: translate3d(0, 10%, 0);
    -moz-transform: translate3d(0, 10%, 0);
    -ms-transform: translate3d(0, 10%, 0);
    -o-transform: translate3d(0, 10%, 0);
    transform: translate3d(0, 10%, 0); }

  100% {
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
    filter: alpha(opacity=100);
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }
@-webkit-keyframes appear {
  0% {
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
    filter: alpha(opacity=0);
    -webkit-opacity: 0;
    -moz-opacity: 0;
    opacity: 0;
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    -ms-transform: scale(0.5);
    -o-transform: scale(0.5);
    transform: scale(0.5); }

  30% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); }

  100% {
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
    filter: alpha(opacity=100);
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1; } }
@-moz-keyframes appear {
  0% {
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
    filter: alpha(opacity=0);
    -webkit-opacity: 0;
    -moz-opacity: 0;
    opacity: 0;
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    -ms-transform: scale(0.5);
    -o-transform: scale(0.5);
    transform: scale(0.5); }

  30% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); }

  100% {
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
    filter: alpha(opacity=100);
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1; } }
@-ms-keyframes appear {
  0% {
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
    filter: alpha(opacity=0);
    -webkit-opacity: 0;
    -moz-opacity: 0;
    opacity: 0;
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    -ms-transform: scale(0.5);
    -o-transform: scale(0.5);
    transform: scale(0.5); }

  30% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); }

  100% {
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
    filter: alpha(opacity=100);
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1; } }
@keyframes appear {
  0% {
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
    filter: alpha(opacity=0);
    -webkit-opacity: 0;
    -moz-opacity: 0;
    opacity: 0;
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    -ms-transform: scale(0.5);
    -o-transform: scale(0.5);
    transform: scale(0.5); }

  30% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); }

  100% {
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
    filter: alpha(opacity=100);
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1; } }
@-webkit-keyframes fadein {
  0% {
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
    filter: alpha(opacity=0);
    -webkit-opacity: 0;
    -moz-opacity: 0;
    opacity: 0; }

  100% {
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
    filter: alpha(opacity=100);
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1; } }
@-moz-keyframes fadein {
  0% {
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
    filter: alpha(opacity=0);
    -webkit-opacity: 0;
    -moz-opacity: 0;
    opacity: 0; }

  100% {
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
    filter: alpha(opacity=100);
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1; } }
@-ms-keyframes fadein {
  0% {
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
    filter: alpha(opacity=0);
    -webkit-opacity: 0;
    -moz-opacity: 0;
    opacity: 0; }

  100% {
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
    filter: alpha(opacity=100);
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1; } }
@keyframes fadein {
  0% {
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
    filter: alpha(opacity=0);
    -webkit-opacity: 0;
    -moz-opacity: 0;
    opacity: 0; }

  100% {
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
    filter: alpha(opacity=100);
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1; } }
@-webkit-keyframes progress {
  0% {
    width: 0; }

  10% {
    width: 30%; }

  30% {
    width: 50%; }

  40% {
    width: 70%; }

  100% {
    width: 80%; } }
@-moz-keyframes progress {
  0% {
    width: 0; }

  10% {
    width: 30%; }

  30% {
    width: 50%; }

  40% {
    width: 70%; }

  100% {
    width: 80%; } }
@-ms-keyframes progress {
  0% {
    width: 0; }

  10% {
    width: 30%; }

  30% {
    width: 50%; }

  40% {
    width: 70%; }

  100% {
    width: 80%; } }
@keyframes progress {
  0% {
    width: 0; }

  10% {
    width: 30%; }

  30% {
    width: 50%; }

  40% {
    width: 70%; }

  100% {
    width: 80%; } }
.button.working:before, button.working:before, input.working[type="submit"]:before, input.working[type="button"]:before, .google.working:before, .twitter.working:before, .facebook.working:before, .persona.working:before, .openid.working:before {
  -webkit-animation: spin 1s ease infinite;
  -moz-animation: spin 1s ease infinite;
  -ms-animation: spin 1s ease infinite;
  -o-animation: spin 1s ease infinite;
  animation: spin 1s ease infinite; }

.modal {
  -webkit-animation: appear 0.5s 1;
  -moz-animation: appear 0.5s 1;
  -ms-animation: appear 0.5s 1;
  -o-animation: appear 0.5s 1;
  animation: appear 0.5s 1; }

.backdrop {
  -webkit-animation: fadein 0.5s 1;
  -moz-animation: fadein 0.5s 1;
  -ms-animation: fadein 0.5s 1;
  -o-animation: fadein 0.5s 1;
  animation: fadein 0.5s 1; }

.button, button, input[type="submit"], input[type="button"], .entry, input, textarea, a, .google, .twitter, .facebook, .persona, .openid, .fadeout, .chat-link, .product img {
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease; }

/* font settings */
/* colors */
/* misc */
/* font settings */
/* colors */
/* misc */
.linked, .button.linked, button.linked, input.linked[type="submit"], input.linked[type="button"], .entry.linked, input.linked, textarea.linked {
  border-radius: 0; }
  .linked:not(:only-of-type):not(:last-of-type) {
    border-right: none; }
  .linked:first-of-type {
    border-radius: 2px 0 0 2px; }
  .linked:last-of-type {
    border-radius: 0 2px 2px 0; }
  .linked:only-of-type {
    border-radius: 2px; }

.button, button, input[type="submit"], input[type="button"] {
  display: inline-block;
  margin: .5em 0;
  padding: .5em 1em;
  font-size: 1em;
  border: 1px solid #d64937;
  border-bottom-color: #ca3c29;
  border-radius: 2px;
  background-color: #d64937;
  color: #f9f9f9;
  text-align: center;
  font-weight: 700;
  cursor: pointer;
  text-transform: uppercase; }
  .button:hover, button:hover, input[type="submit"]:hover, input[type="button"]:hover, .button:focus, button:focus, input[type="submit"]:focus, input[type="button"]:focus {
    background-color: #ca3c29;
    border-color: #ca3c29;
    color: #f9f9f9;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.15); }
  .button:active, button:active, input[type="submit"]:active, input[type="button"]:active {
    background-color: #b53525;
    border-color: #b53525;
    color: #f9f9f9; }
  .button.working, button.working, input.working[type="submit"], input.working[type="button"] {
    padding-left: 0; }
    .button.working:before, button.working:before, input.working[type="submit"]:before, input.working[type="button"]:before {
      content: "";
      display: inline-block;
      width: 1em;
      height: 1em;
      margin: 0 1em;
      border-top: 2px solid currentColor;
      border-right: 2px solid transparent;
      border-bottom: 2px solid currentColor;
      border-left: 2px solid transparent;
      border-radius: 50%; }
    .button.working, button.working, input.working[type="submit"], input.working[type="button"], .button.working:hover, button.working:hover, input.working[type="submit"]:hover, input.working[type="button"]:hover, .button.working:focus, button.working:focus, input.working[type="submit"]:focus, input.working[type="button"]:focus, .button.working:active, button.working:active, input.working[type="submit"]:active, input.working[type="button"]:active {
      background-color: #b53525;
      border-color: #b53525;
      color: #eec4be;
      cursor: wait;
      pointer-events: none; }
  .button.secondary, button.secondary, input.secondary[type="submit"], input.secondary[type="button"] {
    background-color: transparent;
    border-color: rgba(0, 0, 0, 0.15);
    color: currentcolor; }
    .button.secondary:hover, button.secondary:hover, input.secondary[type="submit"]:hover, input.secondary[type="button"]:hover, .button.secondary:focus, button.secondary:focus, input.secondary[type="submit"]:focus, input.secondary[type="button"]:focus {
      background-color: rgba(255, 255, 255, 0.3);
      border-color: rgba(0, 0, 0, 0.3);
      color: currentcolor; }
    .button.secondary:active, button.secondary:active, input.secondary[type="submit"]:active, input.secondary[type="button"]:active {
      background-color: rgba(0, 0, 0, 0.05);
      border-color: rgba(0, 0, 0, 0.3);
      color: currentcolor; }
  .button.disabled, button.disabled, input.disabled[type="submit"], input.disabled[type="button"], button:disabled, input[type="submit"]:disabled, input[type="button"]:disabled, .button.disabled:hover, button.disabled:hover, input.disabled[type="submit"]:hover, input.disabled[type="button"]:hover, button:hover:disabled, input[type="submit"]:hover:disabled, input[type="button"]:hover:disabled, .button.disabled:focus, button.disabled:focus, input.disabled[type="submit"]:focus, input.disabled[type="button"]:focus, button:focus:disabled, input[type="submit"]:focus:disabled, input[type="button"]:focus:disabled, .button.disabled:active, button.disabled:active, input.disabled[type="submit"]:active, input.disabled[type="button"]:active, button:active:disabled, input[type="submit"]:active:disabled, input[type="button"]:active:disabled {
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=50);
    filter: alpha(opacity=50);
    -webkit-opacity: 0.5;
    -moz-opacity: 0.5;
    opacity: 0.5;
    background-color: rgba(0, 0, 0, 0.05);
    border-color: rgba(0, 0, 0, 0.3);
    color: currentcolor;
    cursor: default;
    pointer-events: none; }

/* font settings */
/* colors */
/* misc */
.entry, input, textarea {
  border: 1px solid #c6c6c6;
  border-top-color: #acacac;
  border-radius: 2px;
  background-color: #f9f9f9;
  color: #2d2d2d; }
  .entry:hover, input:hover, textarea:hover, .entry:focus, input:focus, textarea:focus, .entry:active, input:active, textarea:active {
    border-color: #d64937;
    border-top-color: #ca3c29;
    outline: none; }
  .entry.disabled, input.disabled, textarea.disabled, input:disabled, textarea:disabled {
    background-color: #e0e0e0; }
  .entry.error, input.error, textarea.error {
    border-color: #d95879; }

input, textarea {
  margin: .5em 0;
  padding: .5em;
  font-size: 1em;
  outline: none; }

.row {
  *zoom: 1; }
  .row:before, .row:after {
    content: "";
    display: table; }
  .row:after {
    clear: both; }

.row {
  margin-right: -1.5em;
  margin-left: -1.5em;
  margin-top: 0;
  margin-bottom: 0; }

.col {
  padding-right: 1.5em;
  padding-left: 1.5em; }

@media only screen {
  .small-left {
    float: left; }

  .small-right {
    float: right; }

  .small-1 {
    float: left;
    width: 8.33333%; }

  .small-2 {
    float: left;
    width: 16.66667%; }

  .small-3 {
    float: left;
    width: 25%; }

  .small-4 {
    float: left;
    width: 33.33333%; }

  .small-5 {
    float: left;
    width: 41.66667%; }

  .small-6 {
    float: left;
    width: 50%; }

  .small-7 {
    float: left;
    width: 58.33333%; }

  .small-8 {
    float: left;
    width: 66.66667%; }

  .small-9 {
    float: left;
    width: 75%; }

  .small-10 {
    float: left;
    width: 83.33333%; }

  .small-11 {
    float: left;
    width: 91.66667%; }

  .small-12 {
    float: left;
    width: 100%; } }
@media only screen and (min-width: 40.063em) {
  .medium-left {
    float: left; }

  .medium-right {
    float: right; }

  .medium-1 {
    float: left;
    width: 8.33333%; }

  .medium-2 {
    float: left;
    width: 16.66667%; }

  .medium-3 {
    float: left;
    width: 25%; }

  .medium-4 {
    float: left;
    width: 33.33333%; }

  .medium-5 {
    float: left;
    width: 41.66667%; }

  .medium-6 {
    float: left;
    width: 50%; }

  .medium-7 {
    float: left;
    width: 58.33333%; }

  .medium-8 {
    float: left;
    width: 66.66667%; }

  .medium-9 {
    float: left;
    width: 75%; }

  .medium-10 {
    float: left;
    width: 83.33333%; }

  .medium-11 {
    float: left;
    width: 91.66667%; }

  .medium-12 {
    float: left;
    width: 100%; } }
@media only screen and (min-width: 64.063em) {
  .large-left {
    float: left; }

  .large-right {
    float: right; }

  .large-1 {
    float: left;
    width: 8.33333%; }

  .large-2 {
    float: left;
    width: 16.66667%; }

  .large-3 {
    float: left;
    width: 25%; }

  .large-4 {
    float: left;
    width: 33.33333%; }

  .large-5 {
    float: left;
    width: 41.66667%; }

  .large-6 {
    float: left;
    width: 50%; }

  .large-7 {
    float: left;
    width: 58.33333%; }

  .large-8 {
    float: left;
    width: 66.66667%; }

  .large-9 {
    float: left;
    width: 75%; }

  .large-10 {
    float: left;
    width: 83.33333%; }

  .large-11 {
    float: left;
    width: 91.66667%; }

  .large-12 {
    float: left;
    width: 100%; } }
.block-1 {
  display: inline-block;
  vertical-align: top;
  width: 10em;
  max-width: 100%;
  padding-right: 1.5em;
  padding-left: 1.5em; }

.block-2 {
  display: inline-block;
  vertical-align: top;
  width: 20em;
  max-width: 100%;
  padding-right: 1.5em;
  padding-left: 1.5em; }

.block-3 {
  display: inline-block;
  vertical-align: top;
  width: 30em;
  max-width: 100%;
  padding-right: 1.5em;
  padding-left: 1.5em; }

.block-4 {
  display: inline-block;
  vertical-align: top;
  width: 40em;
  max-width: 100%;
  padding-right: 1.5em;
  padding-left: 1.5em; }

.block-5 {
  display: inline-block;
  vertical-align: top;
  width: 50em;
  max-width: 100%;
  padding-right: 1.5em;
  padding-left: 1.5em; }

.block-6 {
  display: inline-block;
  vertical-align: top;
  width: 60em;
  max-width: 100%;
  padding-right: 1.5em;
  padding-left: 1.5em; }

.block-7 {
  display: inline-block;
  vertical-align: top;
  width: 70em;
  max-width: 100%;
  padding-right: 1.5em;
  padding-left: 1.5em; }

.block-8 {
  display: inline-block;
  vertical-align: top;
  width: 80em;
  max-width: 100%;
  padding-right: 1.5em;
  padding-left: 1.5em; }

.block-9 {
  display: inline-block;
  vertical-align: top;
  width: 90em;
  max-width: 100%;
  padding-right: 1.5em;
  padding-left: 1.5em; }

.block-10 {
  display: inline-block;
  vertical-align: top;
  width: 100em;
  max-width: 100%;
  padding-right: 1.5em;
  padding-left: 1.5em; }

.block-11 {
  display: inline-block;
  vertical-align: top;
  width: 110em;
  max-width: 100%;
  padding-right: 1.5em;
  padding-left: 1.5em; }

.block-12 {
  display: inline-block;
  vertical-align: top;
  width: 120em;
  max-width: 100%;
  padding-right: 1.5em;
  padding-left: 1.5em; }

/* font settings */
/* colors */
/* misc */
.backdrop {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 40;
  background: rgba(0, 0, 0, 0.7); }

.modal {
  display: block;
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 27em;
  max-width: 100%;
  z-index: 50;
  overflow: auto;
  background: #f9f9f9;
  border-radius: 2px;
  padding: 2em;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3); }
  @media only screen and (max-width: 27em) {
    .modal {
      -webkit-animation: slideup 0.3s 1;
      -moz-animation: slideup 0.3s 1;
      -ms-animation: slideup 0.3s 1;
      -o-animation: slideup 0.3s 1;
      animation: slideup 0.3s 1;
      bottom: 0;
      left: 0;
      margin-top: 0 !important;
      margin-left: 0 !important;
      min-width: 100%;
      width: 100%;
      padding: 1.2em;
      border-radius: 0; } }

/* font settings */
/* colors */
/* misc */
/*
 * CSS reset based on:
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * Normalize.css (http://necolas.github.io/normalize.css/)
 */
/* set the viewport properties (limited browser support) */
@viewport {
  width: device-width;
  user-zoom: fixed;
  zoom: 1;
  min-zoom: 1;
  max-zoom: 1; }
/* set box sizing to a more natural layout */
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* remove tap highlight in webkit */
* {
  -webkit-tap-highlight-color: transparent; }

html {
  /* set default font family to sans-serif */
  font-family: sans-serif;
  /* remove iOS text size adjust without disabling user zoom */
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  /* eliminate 300ms click delay */
  -ms-touch-action: manipulation;
  /* IE10 */
  touch-action: manipulation;
  /* IE11 */ }

/* reset default properties */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display styles for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline; }

/* address "[hidden]"" styling not present in IE */
[hidden] {
  display: none; }

body {
  line-height: 1; }

/* remove the gray background color from active links in IE */
a {
  background: transparent;
  cursor: pointer; }

/* remove outlines on links */
a:focus, a:hover, a:active {
  outline: 0; }

/* address style set to "bolder" in Firefox, Safari, and Chrome */
b, strong {
  font-weight: bold; }

i, em {
  font-style: italic; }

/* remove border when inside "a" element in IE */
img {
  border: 0; }

/* correct overflow not hidden in IE */
svg:not(:root) {
  overflow: hidden; }

/* cascade SVG fill color */
svg:not[class] {
  fill: currentColor; }

/* contain overflow in all browsers. */
pre {
  overflow: auto; }

/* fix inheritance in form elements */
button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

/* address "overflow" set to "hidden" in IE */
button {
  overflow: visible; }

button, select {
  text-transform: none; }

button, input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

/* re-set default cursor for disabled elements */
button[disabled], input[disabled] {
  cursor: default; }

/* remove inner padding and border in Firefox */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

textarea {
  overflow: auto; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none; }

/* remove most spacing between table cells */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td, th {
  padding: 0; }

/* font settings */
/* colors */
/* misc */
/* font settings */
/* colors */
/* misc */
/* font settings */
/* colors */
/* misc */
/* base styles */
body {
  background: #f9f9f9;
  color: #2d2d2d;
  font: 16px/21px "Open Sans", "Myriad Pro", Helvetica, Tahoma, "Nimbus Sans", Arial, sans-serif; }
  @media only screen and (max-width: 27em) {
    body {
      font-size: 14px; } }

a {
  color: #d64937;
  text-decoration: none; }
  a:hover, a:focus {
    color: #a02f21; }
  a:active {
    color: #601c14; }

img {
  max-width: 100%;
  height: auto; }

h1, h2, h3, h4 {
  line-height: 1.5em;
  font-family: "Raleway", Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  font-weight: 400;
  margin-bottom: .5em; }

h1 {
  font-size: 2.5em; }

h2 {
  font-size: 2em; }

h3 {
  font-size: 1.5em; }

h4 {
  font-size: 1.2em; }

p {
  margin: .5em 0; }

input[type="checkbox"], input[type="radio"] {
  width: 1.5em;
  height: 1.5em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
  padding: 1em;
  border-radius: 2px;
  background-color: #ececec; }

code {
  font-weight: 700;
  font-family: Consolas, "Andale Mono", "Lucida Console", "Nimbus Mono", "Courier New", monospace;
  line-height: 1.2em; }

.google {
  display: inline-block;
  margin: .5em 0;
  padding: .5em 1em;
  font-size: 1em;
  border: 1px solid #d34836;
  border-bottom-color: #c43d2b;
  border-radius: 2px;
  background-color: #d34836;
  color: white;
  text-align: center;
  font-weight: 700;
  cursor: pointer;
  text-transform: uppercase; }
  .google:hover, .google:focus {
    background-color: #c43d2b;
    border-color: #c43d2b;
    color: white;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.15); }
  .google:active {
    background-color: #b03626;
    border-color: #b03626;
    color: white; }
  .google.working {
    padding-left: 0; }
    .google.working:before {
      content: "";
      display: inline-block;
      width: 1em;
      height: 1em;
      margin: 0 1em;
      border-top: 2px solid currentColor;
      border-right: 2px solid transparent;
      border-bottom: 2px solid currentColor;
      border-left: 2px solid transparent;
      border-radius: 50%; }
    .google.working, .google.working:hover, .google.working:focus, .google.working:active {
      background-color: #b03626;
      border-color: #b03626;
      color: #f1c8c2;
      cursor: wait;
      pointer-events: none; }

.twitter {
  display: inline-block;
  margin: .5em 0;
  padding: .5em 1em;
  font-size: 1em;
  border: 1px solid #55acee;
  border-bottom-color: #3ea1ec;
  border-radius: 2px;
  background-color: #55acee;
  color: white;
  text-align: center;
  font-weight: 700;
  cursor: pointer;
  text-transform: uppercase; }
  .twitter:hover, .twitter:focus {
    background-color: #3ea1ec;
    border-color: #3ea1ec;
    color: white;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.15); }
  .twitter:active {
    background-color: #2795e9;
    border-color: #2795e9;
    color: white; }
  .twitter.working {
    padding-left: 0; }
    .twitter.working:before {
      content: "";
      display: inline-block;
      width: 1em;
      height: 1em;
      margin: 0 1em;
      border-top: 2px solid currentColor;
      border-right: 2px solid transparent;
      border-bottom: 2px solid currentColor;
      border-left: 2px solid transparent;
      border-radius: 50%; }
    .twitter.working, .twitter.working:hover, .twitter.working:focus, .twitter.working:active {
      background-color: #2795e9;
      border-color: #2795e9;
      color: #cce6f9;
      cursor: wait;
      pointer-events: none; }

.facebook {
  display: inline-block;
  margin: .5em 0;
  padding: .5em 1em;
  font-size: 1em;
  border: 1px solid #3b5998;
  border-bottom-color: #344e86;
  border-radius: 2px;
  background-color: #3b5998;
  color: white;
  text-align: center;
  font-weight: 700;
  cursor: pointer;
  text-transform: uppercase; }
  .facebook:hover, .facebook:focus {
    background-color: #344e86;
    border-color: #344e86;
    color: white;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.15); }
  .facebook:active {
    background-color: #2d4373;
    border-color: #2d4373;
    color: white; }
  .facebook.working {
    padding-left: 0; }
    .facebook.working:before {
      content: "";
      display: inline-block;
      width: 1em;
      height: 1em;
      margin: 0 1em;
      border-top: 2px solid currentColor;
      border-right: 2px solid transparent;
      border-bottom: 2px solid currentColor;
      border-left: 2px solid transparent;
      border-radius: 50%; }
    .facebook.working, .facebook.working:hover, .facebook.working:focus, .facebook.working:active {
      background-color: #2d4373;
      border-color: #2d4373;
      color: #c4cde0;
      cursor: wait;
      pointer-events: none; }

.persona {
  display: inline-block;
  margin: .5em 0;
  padding: .5em 1em;
  font-size: 1em;
  border: 1px solid #e66000;
  border-bottom-color: #cd5500;
  border-radius: 2px;
  background-color: #e66000;
  color: white;
  text-align: center;
  font-weight: 700;
  cursor: pointer;
  text-transform: uppercase; }
  .persona:hover, .persona:focus {
    background-color: #cd5500;
    border-color: #cd5500;
    color: white;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.15); }
  .persona:active {
    background-color: #b34b00;
    border-color: #b34b00;
    color: white; }
  .persona.working {
    padding-left: 0; }
    .persona.working:before {
      content: "";
      display: inline-block;
      width: 1em;
      height: 1em;
      margin: 0 1em;
      border-top: 2px solid currentColor;
      border-right: 2px solid transparent;
      border-bottom: 2px solid currentColor;
      border-left: 2px solid transparent;
      border-radius: 50%; }
    .persona.working, .persona.working:hover, .persona.working:focus, .persona.working:active {
      background-color: #b34b00;
      border-color: #b34b00;
      color: #f7cfb2;
      cursor: wait;
      pointer-events: none; }

.openid {
  display: inline-block;
  margin: .5em 0;
  padding: .5em 1em;
  font-size: 1em;
  border: 1px solid #f78c40;
  border-bottom-color: #f67d28;
  border-radius: 2px;
  background-color: #f78c40;
  color: white;
  text-align: center;
  font-weight: 700;
  cursor: pointer;
  text-transform: uppercase; }
  .openid:hover, .openid:focus {
    background-color: #f67d28;
    border-color: #f67d28;
    color: white;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.15); }
  .openid:active {
    background-color: #f56f0f;
    border-color: #f56f0f;
    color: white; }
  .openid.working {
    padding-left: 0; }
    .openid.working:before {
      content: "";
      display: inline-block;
      width: 1em;
      height: 1em;
      margin: 0 1em;
      border-top: 2px solid currentColor;
      border-right: 2px solid transparent;
      border-bottom: 2px solid currentColor;
      border-left: 2px solid transparent;
      border-radius: 50%; }
    .openid.working, .openid.working:hover, .openid.working:focus, .openid.working:active {
      background-color: #f56f0f;
      border-color: #f56f0f;
      color: #fcdcc5;
      cursor: wait;
      pointer-events: none; }

.fadeout {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
  filter: alpha(opacity=0);
  -webkit-opacity: 0;
  -moz-opacity: 0;
  opacity: 0; }

/* browser specific styles */
::selection {
  background-color: #d64937;
  color: #f9f9f9; }

::-moz-selection {
  background-color: #d64937;
  color: #f9f9f9; }

::-webkit-scrollbar {
  width: 10px;
  height: 10px; }

::-webkit-scrollbar-button {
  display: none; }

::-webkit-scrollbar-track {
  background-color: transparent; }

::-webkit-scrollbar-thumb {
  background-color: #e0e0e0; }
  ::-webkit-scrollbar-thumb:vertical {
    min-height: 100px; }
  ::-webkit-scrollbar-thumb:horizontal {
    min-width: 100px; }
  ::-webkit-scrollbar-thumb:hover, ::-webkit-scrollbar-thumb:focus {
    background-color: #d64937; }
  ::-webkit-scrollbar-thumb:active {
    background-color: #b53525; }

/* mixins */
/* style rules */
html {
  height: 100%; }

body {
  height: 100%; }

section {
  padding: .5em; }
  @media only screen and (min-width: 700px) {
    section {
      padding: 1em; } }

footer {
  border-top: 1px solid #141414;
  background-color: #2d2d2d;
  color: #c6c6c6;
  font-size: .9em;
  text-align: center;
  padding: 1em; }
  @media only screen and (min-width: 700px) {
    footer {
      padding: 2em; } }
  footer a {
    color: #c6c6c6; }
    footer a:focus, footer a:hover {
      color: #e0e0e0; }
    footer a:active {
      color: #939393; }

a:focus, a:hover, a:active {
  text-decoration: underline; }

.button:focus, button:focus, input[type="submit"]:focus, input[type="button"]:focus, .button:hover, button:hover, input[type="submit"]:hover, input[type="button"]:hover, .button:active, button:active, input[type="submit"]:active, input[type="button"]:active {
  text-decoration: none; }

.section, .cover-content, .products, .team {
  max-width: 60em;
  margin: auto;
  padding: 2em 1em; }

.cover {
  background-image: url(../../img/covers/bg-320.jpg);
  background-size: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: table;
  table-layout: fixed;
  height: 100%;
  width: 100%;
  background-color: #d64937;
  background-position: 50% 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #f9f9f9; }
  @media only screen and (min-device-width: 320px) {
    .cover {
      background-image: url(../../img/covers/bg-700.jpg); } }
  @media only screen and (min-device-width: 700px), only screen and (-webkit-min-device-pixel-ratio: 2) and (min-device-width: 320px), only screen and (min--moz-device-pixel-ratio: 2) and (min-device-width: 320px), only screen and (-o-min-device-pixel-ratio: 2 / 1) and (min-device-width: 320px), only screen and (min-device-pixel-ratio: 2) and (min-device-width: 320px), only screen and (min-resolution: 192dpi) and (min-device-width: 320px), only screen and (min-resolution: 2dppx) and (min-device-width: 320px) {
    .cover {
      background-image: url(../../img/covers/bg-1300.jpg); } }
  @media only screen and (min-width: 1300px), only screen and (-webkit-min-device-pixel-ratio: 2) and (min-device-width: 700px), only screen and (min--moz-device-pixel-ratio: 2) and (min-device-width: 700px), only screen and (-o-min-device-pixel-ratio: 2 / 1) and (min-device-width: 700px), only screen and (min-device-pixel-ratio: 2) and (min-device-width: 700px), only screen and (min-resolution: 192dpi) and (min-device-width: 700px), only screen and (min-resolution: 2dppx) and (min-device-width: 700px) {
    .cover {
      background-image: url(../../img/covers/bg-1600.jpg); } }

.cover-content {
  position: relative;
  display: table-cell;
  vertical-align: middle;
  text-align: center; }
  .cover-content .logo {
    padding: 2em; }
  .cover-content .button, .cover-content button, .cover-content input[type="submit"], .cover-content input[type="button"] {
    padding: .75em 1.5em;
    border: 3px solid #f9f9f9;
    background-color: transparent; }
    .cover-content .button:focus, .cover-content button:focus, .cover-content input[type="submit"]:focus, .cover-content input[type="button"]:focus, .cover-content .button:hover, .cover-content button:hover, .cover-content input[type="submit"]:hover, .cover-content input[type="button"]:hover, .cover-content .button:active, .cover-content button:active, .cover-content input[type="submit"]:active, .cover-content input[type="button"]:active {
      background-color: #f9f9f9;
      color: #d64937; }

.donate-button {
  padding: 1em;
  font-size: 1.2em;
  color: #f9f9f9;
  cursor: pointer; }
  .donate-button:focus, .donate-button:hover, .donate-button:active {
    color: #f9f9f9;
    text-decoration: underline; }

.chat-link {
  position: fixed;
  right: 2em;
  top: 1em; }
  .chat-link:hover {
    -webkit-transform: rotate(30deg);
    -moz-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    -o-transform: rotate(30deg);
    transform: rotate(30deg); }

.product {
  -webkit-animation: fadein 0.5s 1;
  -moz-animation: fadein 0.5s 1;
  -ms-animation: fadein 0.5s 1;
  -o-animation: fadein 0.5s 1;
  animation: fadein 0.5s 1;
  padding-top: .25em;
  padding-bottom: .25em;
  color: #2d2d2d;
  cursor: pointer; }
  .product img {
    border: 3px solid #f9f9f9;
    border-radius: 2px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3); }
  .product:focus, .product:hover, .product:active {
    color: #2d2d2d; }
    .product:focus img, .product:hover img, .product:active img {
      border-color: #ececec;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.6); }
  .product .desc {
    display: block;
    padding: .5em 0;
    text-align: center; }
    .product .desc .name, .product .desc .more {
      display: block; }
    .product .desc .name {
      font-weight: 600; }
    .product .desc .more {
      color: #606060; }

.about {
  background: linear-gradient(-135deg, #f9f9f9 5px, transparent 0) 0 5px, linear-gradient(135deg, #f9f9f9 5px, #ececec 0) 0 5px;
  background-color: #ececec;
  background-position: left top;
  background-repeat: repeat-x;
  background-size: 10px 10px;
  text-align: center; }

.team {
  padding: .25em 0; }

.member img {
  height: 150px;
  width: 150px;
  border-radius: 75px; }
.member .img:focus, .member .img:hover, .member .img:active {
  background: none; }
.member .name {
  display: block;
  padding: .5em 0;
  text-align: center;
  color: #2d2d2d; }
  .member .name:focus, .member .name:hover, .member .name:active {
    color: #2d2d2d; }

.modal {
  width: 26em;
  max-width: 100%; }
  .modal form {
    position: relative; }
    .modal form:before {
      position: absolute;
      display: block;
      content: "$";
      top: 1em;
      left: 1em; }
      @media only screen and (max-width: 27em) {
        .modal form:before {
          top: 0.5em; } }
    .modal form input[type=number] {
      max-width: 100%;
      padding-left: 2em; }

/* browser specific styles */
::selection {
  background-color: #d64937;
  color: #f9f9f9; }

::-moz-selection {
  background-color: #d64937;
  color: #f9f9f9; }

::-webkit-scrollbar {
  width: 12px;
  height: 12px; }

::-webkit-scrollbar-button {
  display: none; }

::-webkit-scrollbar-track {
  background-color: #f9f9f9; }

::-webkit-scrollbar-thumb {
  border: 1px solid #c6c6c6;
  background-color: #e0e0e0; }
  ::-webkit-scrollbar-thumb:vertical {
    min-height: 100px; }
  ::-webkit-scrollbar-thumb:horizontal {
    min-width: 100px; }
  ::-webkit-scrollbar-thumb:hover, ::-webkit-scrollbar-thumb:focus {
    border: 1px solid #acacac;
    background-color: #c6c6c6; }
  ::-webkit-scrollbar-thumb:active {
    border-color: #b53525;
    background-color: #d64937; }
