<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
      
      <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,700,300,400' rel='stylesheet' type='text/css'>
      <script type="text/javascript">var switchTo5x=true;</script>
<script type="text/javascript" src="https://ws.sharethis.com/button/buttons.js"></script>
<script type="text/javascript">stLight.options({publisher: "7dfa4cec-a9e6-4efd-82fc-21655ec02677", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>

    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}
  </body>

</html>
